body {
  font-family: 'BIZ UDMincho', serif;
  background-color: #F3F4F9;
}

h5 {

  text-align: match-parent;
  padding-left: 438px;
}

#divcupom {
  background-color: #BAD9AC;
  padding: 10px 10px 6px 10px;
}

form {
  background-color: #fff;
  width: 50%;
  height: 50%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px 10px 60px;
  margin: auto;
}

input {
  all: unset;
  font: 16px;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
  border-radius: 25px;
  border: 1px solid #6AA84F;

}

::placeholder {
  color: #bad9ac;
  opacity: 0.7;

}

svg {
  color: #fff;
  fill: currentColor;
  width: 40px;
  height: 40px;
  padding: 10px;
}

#botaobusca {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
  background-color: #bad9ac;
  border-radius: 10px 35px 15px 35px;
  transform: rotate(90deg);
  margin: 5px;

}

.first-box {
  width: 200px;
  float: left;
  height: 150px;
  margin: 50px 80px 60px 190px;
  padding: auto;
}

.second-box {
  width: 500px;
  height: 150px;
  padding: auto;
  float: right;
  text-align: justify;
  margin: 50px;
}

#opcoes {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.opcao {

  text-decoration: none;
  color: #384F08;
  background-color: #EAECDB;
  padding: 5px 15px 5px 15px;
  border-radius: 1em;

}


.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

/*depois tiro essas formatações da busca*/
.titulo {
  font-size: 20px;
  font-weight: bold;
}

.info {
  display: block;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 400;
}

.card-img {
  max-width: 200px;
  display: block;
  cursor: pointer;
}

footer {
  background-color: #544441 !important;
  width: 100%;
}

#imagemfinal {
  background-color: #EAECDB !important;
  margin-left: 39%;
  padding-left: 10px;
  padding-right: 1px;
}

#box-resultados {
  clear: both;
}

#cards {
  gap: 5%;
  display: block;
  justify-content: space-between;
  align-items: center;
  clear: both;
  width: 100vw;
}

#cards ul {
  text-decoration: none;
  list-style-type: none;
  gap: 8px;
  box-shadow: rgba(32, 31, 31, 0.521);
  border-radius: 5px 5px 5px;
  border-color: black;
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#cards li {
  list-style-type: none;
  background-color: #EEE;
  text-align: center;
  display: block;
  text-align: justify;
  margin: 0;
  padding: 24px;

}

#cards li img {
  width: 114px;
  height: 114px;
  object-fit: contain;
  float: left;

}

ul {
  border-color: black;
  margin: 0;
  padding: 0;
}

.img-modal {
  width: 100%;
  ;
}

.elemento-modal {
  display: block;
}


@media (max-width<600px) {
  #box-resultados {
    clear: both;
  }

  #cards {
    gap: 5%;
    display: block;
    justify-content: space-between;
    align-items: center;
    clear: both;
    width: 100vw;
  }

  #cards ul {
    text-decoration: none;
    list-style-type: none;
    gap: 8px;
    box-shadow: rgba(32, 31, 31, 0.521);
    border-radius: 5px 5px 5px;
    border-color: black;
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  #cards li {
    list-style-type: none;
    background-color: #EEE;
    text-align: center;
    display: block;
    text-align: justify;
    margin: 0;
    padding: 24px;

  }

  #cards li img {
    width: 114px;
    height: 114px;
    object-fit: contain;
    float: left;

  }

  ul {
    border-color: black;
    margin: 0;
    padding: 0;
  }

}

.btn-cor {
  background-color: #384F08 !important;
  color: white !important;
}